.spare-table {
    border-collapse: collapse;
    border-radius: 5px;
    box-shadow: 0px 10px 30px 5px rgba(0,0,0,.15);
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
}

.spare-table thead tr {
    border-bottom: 2px solid gray
}

.spare-table thead tr td {
    font-size: 40px;
}

.spare-table tbody tr td {
    font-size: 30px;
}

.spare-table tbody tr td:nth-child(8n+1){
    background-color: rgb(221, 235, 247)
}

.spare-table tbody tr td:nth-last-child(1){
    background-color: rgb(226, 239, 218)
}

span {
    cursor: pointer;
}